/**************************************** General styles ****************************************/
body {
	color: #424242;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	/*background: #598EC4;*/
	background: #f5f5f5;
	background-attachment: fixed;
}
table {
	border-collapse: collapse;
}
th {
	color: #424242;
	font-weight: bold;
	text-align: center;
}
h1 {
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	color: #424242;
	margin: 0px;
	padding: 12px 0 12px 0;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 20px;
	font-family: Arial;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	background: #598EC4;
	margin: 20px 0 0 0;
	padding: 0px;
}
img {
	border: none;
}
input {
	margin: 2px;
}
input[type="submit"] {
	height: 33px;
	font-size: 16px;
	color: #424242;
	font-family: Arial, sans-serif;
	font-weight: bold;c 
	cursor: pointer;
	text-decoration: none;
	width: auto;
}
input[type="button"] {
	height: 34px;
	font-size: 16px;
	color: #424242;
	font-family: Arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	width: auto;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
select {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
input[type="text"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
input[type="email"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
input[type="password"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
textarea {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
a:hover {
	color: #dd0000;
}

/**************************************** Header block ****************************************/
.header {
	width: 100%;
	height: auto;
	background: #ffffff;
	/*border-bottom: 1px solid #525252;*/
}

/* Left part of header */
.header_left {
	height: 50px;
	width: auto;
	float: left;
}

/* Logo */
.logo {
	width: auto;
	height: 50px;
	background: #ffffff;
	display: block;
	float: left;
	border: none;	
}
.logo:hover {
	/*background: #525252;*/
}
.logo_img {
	height: 22px;
	margin: 14px 14px 0 14px;
}

/* Right part of header */
.header_right {
	height: 50px;
	width: auto;
	float: right;
}

/* Exit */
.gear_block {
	display: block;
	text-decoration: none;
	height: 50px;
	width: 50px;
	text-align: center;
	background: #ffffff;
	cursor: pointer;
}
.gear_block:hover {
	background: #525252;
}
.user_info_block {
	padding: 0 10px 0 8px;
	font-size: 12px;
	color: #525252;
	font-family: Arial;
}
.exit_button {
	display: inline-block;
}



/**************************************** Menu block ****************************************/
.topmenu_block {
	float: left;
	height: auto;
	width: auto;
}
.topmenu_button {
	background: #ffffff;
	display: block;
	float: left;
	cursor: pointer;
	text-decoration: none;
	color: #525252;
	font-weight: bold;
	height: 50px;
	z-index: 2000;
	line-height: 50px;
	padding: 0 15px 0 15px;
}
.topmenu_button:hover {
	background: #525252;
	color: #ffffff;
}


div.menu_block {
	margin: 0px;
	padding: 0px;
}
a.menu_item {
	display: block;
	padding: 12px 15px;
	margin: 1px 0;
	background: #598EC4;
	text-decoration: none;
	list-style-type: none;
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
	color:#ffffff;
	/*text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;*/
}
a.menu_item:hover {
	background: #306CA9;
}
a.menu_item_selected {
	display: block;
	padding: 12px 15px;
	margin: 1px 0;
	background: #598EC4;
	text-decoration: none;
	list-style-type: none;
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	color:#ffffff;
	text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
	border-right: 12px solid #bb0000;
}
a.submenu_item {
	display: inline-block;
	padding: 0 15px;
	margin: 1px;
	background: #598EC4;
	text-decoration: none;
	list-style-type: none;
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
	color:#ffffff;
	line-height: 40px;
	/*text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;*/
}
a.submenu_item:hover {
	background: #306CA9;
}
a.compare_item {
	display: inline-block;
	padding: 0 15px;
	margin: 1px;
	background: #598EC4;
	text-decoration: none;
	list-style-type: none;
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
	color:#ffffff;
	height: 40px;
	text-align: center;
	/*text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;*/
}
a.compare_item:hover {
	background: #306CA9;
}


.z_shadow{
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}



/**************************************** Content block ****************************************/
#content {
	position: relative;
	text-align: left;
	width: auto;
	padding: 0px;
}
#note {
	position: absolute;
	left: 2px;
	top: 2px;
	width: auto;
	height: auto;
}
.blank {
	font-size: 40px;
	color: #ffbbbb;
	text-align: center;
	margin-top: 100px;
}
.settings_table {
	border: 1px solid #424242;
	max-width: 100%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.settings_table td {
	/*vertical-align: top;*/
}
.table-1 {
	background: #ADCEEF;
}
.table-2 {
	background: #f5f5f5;
	border-bottom: 1px solid #424242;
}

.disabled {
	background: none;
}
.enabled {
	background: #bbffbb;
}
.suspected {
	background: #ffbbbb;
}

.active_block {
	cursor: pointer;
}
.field_info {
	color: #ff0000;
	font-style: italic;
	font-size: 12px;
}
.nothing {
	color: #ff0000;
	font-size: 18px;
	text-align: center;
}


/**************************************** List of tests ****************************************/
.list_table {
	width: 100%;
	font-size: 14px;
}
.list_table_tr {
	background: #ffffff;
	cursor: pointer;
	font-weight: bold;
}
.list_table_tr:hover {
	background: #ADCEEF;
}
.list_table_tr_seen {
	background: #ffffff;
	cursor: pointer;
	font-weight: normal;
}
.list_table_tr_seen:hover {
	background: #ADCEEF;
}
.list_table_td {
	border-right: 1px solid #f5f5f5;
	margin: 3px 0 3px 0;
	border-top: 2px solid #424242;
	border-bottom: 2px solid #424242;
}


.list_test_id {
	font-size: 12px;
}
.list_test_date {
	font-size: 12px;
}
.list_test_age {
	font-size: 12px;
	color: #306CA9;
	border: 1px solid #306CA9;
	padding: 0 3px;
}
.list_test_info {
	
}
.test_notes {
	color: #dd0000;
	font-size: 12px;
	border-top: 1px solid #dd0000;
	width: auto;
	margin-top: 3px;
	padding: 3px;
}



/**************************************** Test tabs ****************************************/
@media screen and (min-width: 1001px) {
	.tab {
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -470px;
		width: 920px;
		max-width: 100%;
		height: 100%;
		background: #ffffff;
		z-index: 100;
		overflow: auto;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
	}
}
@media screen and (max-width: 1000px) {
	.tab {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: #ffffff;
		z-index: 100;
		overflow: auto;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
	}
}
.myvideo {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	border:1px solid #ccc;
	margin: 10px 0;
}
.myvideo iframe,.myvideo object,.myvideo embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.tab_header {
	height: 34px;
	width: auto;
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
}
.tab_header_abbr {
	float: left;	
	font-size: 38px;
	color: #306CA9;
	font-weight: bold;
}
.tab_header_close {
	float: right;
}


.tab_top {
	width: 100%;
	margin-top: 10px;
}
.tab_frame {
	border-top: 1px solid #424242;
	height: 100%;
}
.tab_top_left {
	width: 400px;
	float: left;
	padding: 10px 10px 0 10px;
	border: 2px dashed #424242;
}
.efields_block {
	border-top: 1px dotted #999999;
	margin: 11px 0 0 0;
	height: 8px;
	position: relative;
	width: 100%;
}
.efields_block_text {
	position: absolute;
	top: -8px;
	left: 130px;
	padding: 3px;
	background: #ffffff;
	font-size: 9px;
	font-weight: bold;
}



.graph_img {
	display: block;
	width: 100%;
	text-decoration: none;
}



.print_block {
	margin: 10px auto 10px auto;
	width: 100%;
	height: 80px;
	background: #bbbbbb;
	padding: 5px 0 5px 0;
}
.print_set {
	float: left;
	margin: 0 10px 0 10px;
	text-align: left;
}
.print_icon {
	width: 50px;
	height: 50px;
	display: block;
	margin-top: 3px;
}
.print_icon_img {
	width: 50px;
}
.print_icon:hover {
	background: #424242;
}


.tab_notes {
	width: 100%;
	margin: 10px auto 10px auto;
	text-align: center;
	background: #306CA9;
	padding: 10px 0 5px 0;
}
.tab_buttons {
	height: 38px;
	text-align: left;
}
.tab_field_title {
	font-weight: bold;
	color: #424242;
	font-size: 14px;
}
.save_button, .save_button_active {
	float: left;
	margin-left: 10px;
}
.save_button_active {
	text-decoration: blink;
	font-weight: bold; 
	-webkit-animation: blink 1s linear infinite;
	animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
} 
 
 


.tab_syndromes {
	width: 100%;
}



.tab_answers {
	width: 100%;
	text-align: center;
}
.score {
	border-collapse: collapse;
	background: #eeeeee;
	margin: 2px 0 6px 0;
}
.score_td {
	width: 38px;
	text-align: center;
	border: 1px solid #999999;
	font-family: Arial;
	font-size: 12px;
}
.answer_block {
	display: block;
	width: 70px;
	height: 10px;
	padding: 3px;
	margin-bottom: 2px;
	border: 1px solid #999999;
	border-radius: 4px;
}
.answer_num {
	float: left;
	font-size: 12px;
}
.answer_answer_choice {
	float: right;
	width: auto;
}
.answer_answer_c {
	width: 8px;
	height: 8px;
	border: 1px solid #333333;
	border-radius: 4px;
	display: inline-block;
	margin: 0 1px;
}
.answer_answer_cd {
	width: 8px;
	height: 8px;
	border: 1px solid #333333;
	border-radius: 4px;
	display: inline-block;
	background: #333333;
	margin: 0 1px;
	margin: 0 1px;
}






/**************************************** Карточки ****************************************/

.card_fieldset {
	border: 1px solid #424242;
	margin: 10px;
	padding: 10px 10px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.card_legend {
	font-weight: bold;
	border: 1px solid #424242;
	padding: 2px 5px;
}



/**************************************** Notifications ****************************************/
.ok {
	padding: 5px;
	margin: 0 0 2px 0;
	color: #008800;
	border-top: 1px solid #008800;
	border-bottom: 1px solid #008800;
	background: #ccffcc;
	font-size: 16px;
	text-align: center;
}
.nok {
	padding: 5px;
	margin: 0 0 2px 0;
	color: #dd0000;
	border-top: 1px solid #dd0000;
	border-bottom: 1px solid #dd0000;
	background: #ffdddd;
	font-size: 16px;
	text-align: center;
}



/**************************************** Else ****************************************/
img.bg {
	margin: 5px 5px 0 5px;
	border: 0px solid #ffffff;
	border-radius: 10px;
	cursor: pointer;
}
.alert {
	color: #dd0000;
	font-weight: bold;
}
.alert2 {
	color: #dd0000;
	font-size: 12px;
}
h1, .clear_table {
	font-weight: bold;
}
.red {
	color: #dd0000;
}




 

.pagination {
	height: 38px;
	text-align: right;
	background: #aacdff;
}
.pagination_page, .pagination_page_more {
	display: inline-block;
	background: #ffffff;
	padding: 0 10px 0 10px;
	margin: 3px;
	text-decoration: none;
	font-weight: normal;
	color: #424242;
	font-size: 18px;
	line-height: 30px;
	border: 1px solid #d5d5d5;
}
.pagination_page:hover, .pagination_page_more:hover {
	background: #f5f5f5;
}
.pagination_page_selected {
	display: inline-block;
	padding: 4px 10px 1px 10px;
	margin: 3px;
	font-weight: normal;
	color: #424242;
	font-size: 18px;
}


.card_img_a {
	float: left;
	position: relative;
	margin-right: 10px;
}
.card_img {
	width: 100px;
}
.card_img_lens {
	width: 32px;
	position: absolute;
	display: block;
	bottom: 10px;
	right: 10px; 
}


.download_graph {
	height: 42px;
	border: none;
}
.download_graph:hover {
	background: #ffff00;
}
.compare_graph {
	height: 46px;
	border: 2px solid #424242;
}
.compare_graph:hover {
	height: 46px;
	border: 2px solid #424242;
	background: #ffff55;
}


.grah_mailed {
	height: 14px;
	margin: 4px 0 0 0;
}


#mail_link {
	display: block;
	color: #ffffff;
}
#mail_link:hover {
	color: #dd0000;
}
#mail_form {
	position: relative;
	border: 4px dashed #306CA9;
	padding: 30px 10px 20px 10px;
	margin: 10px 0;
	background: #ffffbb;
	text-align: center;
}


.list_test_source {
	background: #ffdddd;
	font-size: 12px;
}


.letter_logo {
	display: block;
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 100;
	height: 24px;
}
.close_button {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 100;
	width: 24px;
	height: 24px;
	background: url('images/close_button_1.png') no-repeat center center;
	cursor: pointer;
	
	border: 1px solid transparent;
	border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-o-border-radius: 20px 20px 20px 20px;
}
.close_button:hover {
	background: #cd3445 url('images/close_button_2.png') no-repeat center center;
}


.site_that {
	font-size: 12px;
}


.pgm_comment {
	color: #ff0000;
	border: 1px solid #ff0000;
	padding: 5px;
	margin-top: 5px;
}


.flash_item {
	display: inline-block;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #000000;
}


.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

