/**************************************** Login page styles ****************************************/
body {
	color: #424242;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	background: #cccccc;
}



input {
	margin: 2px;
}
input[type="submit"] {
	height: 33px;
	font-size: 16px;
	color: #424242;
	font-family: Arial, sans-serif;
}
input[type="button"] {
	height: 34px;
	font-size: 16px;
	color: #424242;
	font-family: Arial, sans-serif;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
select {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
input[type="text"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
input[type="email"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
input[type="password"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}
textarea {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 6px;
	margin: 2px;
}



.ok {
	padding: 5px;
	margin: 0 0 2px 0;
	color: #008800;
	background: #ccffcc;
	font-size: 12px;
}
.nok {
	padding: 5px;
	margin: 0 0 2px 0;
	color: #ff0000;
	background: #ffdddd;
	font-size: 12px;
}



.auth {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -150px;
	width: 360px;
	height: auto;
	text-align: center;
	padding: 20px;
	background: #ffffff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.auth-fields {
	margin-top: 156px;
}
.auth_title {
	font-size: 24px;
	margin-bottom: 10px;
}
.success {
	background: #bbffbb;
	border: 2px solid #009900;
	border-radius: 6px;
	color: #009900;
	width: 600px;
	padding: 6px;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}
.fail {
	background: #ffbbbb;
	border: 2px solid #990000;
	border-radius: 6px;
	color: #990000;
	width: 600px;
	padding: 6px;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}

